@model ComputosPJ.Models.EnlaceEleccionTipoCategoriaLista

@{
    ViewBag.Title = "Delete";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>EnlaceEleccionTipoCategoriaLista</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">Estas seguro que lo queres eliminar?</h4>
				 <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnlaceEleccionTipoCategoria.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnlaceEleccionTipoCategoria.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lista.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lista.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "btn btn-white"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


